<!DOCTYPE html>
<html>
<head>
    <title>Template is working</title>
</head>

<body>
<h1>My First Heading</h1>
<p>My first paragraph.</p>
<a href="http://127.0.0.1:8000/priya">Visit Priya</a><br/>
{{ name }} is from {{ place }}

<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 808px; height: 160px;"></textarea><br/>
    <input type="checkbox" name="removepunc">Remove Punctuation <br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>